footer.w-100{
    background-color: rgba(0, 0, 0, 0.88);
    padding: 0px 60px;
    padding-top: 100px;
}

footer .navbar{
    justify-content: center;
}

footer .right-footer{
    width: 14%;
    font-size: x-large;
}

footer .right-footer a{
    color: rgba(255, 255, 255, 0.7);

}

footer .left-footer p{
    color: rgba(255, 255, 255, 0.7);
}
