body {
    font-family: "Open Sans", sans-serif;

    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404  url("../img/bg.png") top right no-repeat;
    background-size: contain;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/* untuk navbar */
.navbar {
    padding: 0;
    margin-top: 25px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar li+li {
    margin-left: 30px;
}

.navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #FB2576;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover, .navbar .active{
    color: white;
}

.fullNavbar h1 a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

.fullNavbar h1 a:link{
    text-decoration: none;
}

.fullNavbar{
    display: flex;
    background-color: black;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    /* position: fixed; */
    width: 100%;
    z-index: 15;
}

.fullNavbar .navbar, .fullNavbar h1{
    margin: 0;
    /* background-color: aquamarine; */
}

/* navbar end */

/* container */
.allContainer{
    padding-top: 90px;
    background-color: rgba(0, 0, 0, 0.88);
    /* opacity: 0.94; */
    width: 90%;
    margin: auto;
    /* height: 3000px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
/* container end */

/* section title */
.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #FB2576;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
/* section title end*/

